.map-layout {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.pollutants-panel {
  border: 4px solid black;
  padding: 20px;
  width: 300px;
  color: black;
  background: whitesmoke;
}

.pollutants-panel h3 {
  text-align: center;
  margin-bottom: 20px;
}

.pollutants-panel ul {
  list-style: none;
  text-align: center;
}

.map-panel {
  flex: 1;
  text-align: center;
}

.location-badge {
  margin-bottom: 10px;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 20px;
  border: solid black;
  
}

.map-visual {
  position: relative;
}

.map-visual img {
  width: 100%;
  max-width: 400px;
  border: 2px solid black;
  border-radius: 10%;
}

.map-line {
  position: absolute;
  width: 51.5%;
  height: 1.2%;
  background: black;

  right: 57%;
  top: 71%;

  transform: rotate(19deg);
  transform-origin: right center;

  z-index: 2;
}

.map-focus {
  position: absolute;
  width: 9%;
  height: 10%;
  border: 5px solid black;
  border-radius: 999px;
  background: transparent;

  left: 43%;
  top: 66%;

  z-index: 3;
}