/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #2c2c2c;
  color: white;
}

/* ================= HEADER ================= */

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(to bottom, #4c7cff, #1c3f91);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.topbar h1 {
  font-size: 18px;
}

.burger {
  position: absolute;
  left: 15px;
  width: 40px;
  height: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 4px;
  margin: 5px 0;
  background: black;
}

/* ================= SIDEBAR ================= */

.sidebar {
  position: fixed;
  top: 0;
  left: -320px;
  width: 320px;
  height: 100%;
  background: #5a8d3a;
  transition: 0.3s;
  z-index: 999;
}

.sidebar.open {
  left: 0;
}

.sidebar-inner {
  padding-top: 80px;
}

.sidebar-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

/* ================= MENU ================= */

.menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  padding: 20px;
  background: white;
  color: black;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.menu-item:hover {
  background: #ddd;
}

.active-link {
  background: #ddd;
}

/* ================= SUBMENU ================= */

.has-submenu {
  position: relative;
}

.menu-btn {
  width: 100%;
  padding: 20px;
  border: none;
  background: white;
  cursor: pointer;
  font-weight: bold;
}

.sub-btn {
  text-align: left;
}

.submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 250px;
  background: white;
}

.submenu-right {
  left: 100%;
  top: 0;
}

.has-submenu:hover > .submenu {
  display: block;
}

.submenu-item {
  position: relative;
}

.submenu-link {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  background: white;
  text-align: left;
  cursor: pointer;
}

.submenu-link:hover {
  background: #eee;
}

/* ================= MAIN ================= */

.main-content {
  padding: 100px 20px 30px;
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================= CARD ================= */

.content-card {
  background: #666;
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 1100px;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 950px) {
  .map-layout {
    flex-direction: column;
    align-items: left;
  }

  .dashboard-grid {
    grid-template-columns: 1fr;
  }

  .dashboard-main {
    flex-direction: column;
    text-align: left;
  }

  .dashboard-card h2 {
    font-size: 1.8rem;
  }

  .quality-summary strong {
    font-size: 2.5rem;
  }

}